<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/input.css}">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="icon" th:href="@{/img/icon.png}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title>ADMIN SIGNUP - UFC HOUSES</title>
</head>

<body class="bg-black">
    <!-- FORM REGISTER SECTION STARTED -->
    <section class="">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <a href="#" class="flex items-center mb-6 text-4xl font-extrabold text-white"
                style="font-family: 'Oswald', sans-serif;">
                <img class="w-16 h-16 mr-2" th:src="@{/img/logo.png}" alt="logo">
                UFC HOUSES ADMIN
            </a>
            <div class="w-full bg-white shadow md:mt-0 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-3xl font-bold leading-tight tracking-tight text-black"
                        style="font-family: 'Oswald', sans-serif;">
                        Create your account
                    </h1>
                    <form class="space-y-4 md:space-y-6" action="#">
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-black">Your
                                Fullname</label>
                            <input type="text" id="admin-fullname"
                                class="bg-gray-50 border border-gray-500 text-black sm:text-sm focus:ring-gray-900 focus:border-gray-900 block w-full p-2.5"
                                placeholder="John Doe" required="">
                        </div>
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-black">Your
                                email</label>
                            <input type="email" name="email" id="admin-email"
                                class="bg-gray-50 border border-gray-500 text-black sm:text-sm focus:ring-gray-900 focus:border-gray-900 block w-full p-2.5"
                                placeholder="name@company.com" required="">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-black">Password</label>
                            <input type="password" name="password" id="admin-password" placeholder="••••••••"
                                class="bg-gray-50 border border-gray-500 text-black sm:text-sm focus:ring-gray-900 focus:border-gray-900 block w-full p-2.5"
                                required="">
                        </div>
                        <button type="submit" id="signup-admin-btn"
                            class="w-full text-white bg-black hover:bg-white hover:text-black border border-black font-medium text-sm px-5 py-2.5 text-center">Create
                            an account</button>
                        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                            Already have an account? <a th:href="@{/admin}"
                                class="font-medium text-black hover:underline">Login
                                here</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- FORM REGISTER SECTION ENDED -->

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
        import {
            getAuth, createUserWithEmailAndPassword, onAuthStateChanged
        } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-auth.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyCEaC_yprIy0mR8OTPm8r3dJaRueH1-leY",
            authDomain: "ufc-houses.firebaseapp.com",
            databaseURL: "https://ufc-houses-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "ufc-houses",
            storageBucket: "ufc-houses.appspot.com",
            messagingSenderId: "485649152312",
            appId: "1:485649152312:web:61a12f0a0deb32c05c29cd",
            measurementId: "G-QVPENKWRCY"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const auth = getAuth(app);

        const adminFullName = document.querySelector("#admin-fullname");
        const adminEmail = document.querySelector("#admin-email");
        const adminPassword = document.querySelector("#admin-password");
        const signupAdminBtn = document.querySelector("#signup-admin-btn");

        const userSignUp = async () => {
            const signUpFullName = adminFullName.value;
            const signUpEmail = adminEmail.value;
            const signUpPassword = adminPassword.value;

            try {
                const userCredential = await createUserWithEmailAndPassword(auth, signUpEmail, signUpPassword);
                const user = userCredential.user;
                alert("Account successfully created");
                window.location.reload();  // Refresh halaman setelah akun berhasil dibuat
            } catch (error) {
                const errorCode = error.code;
                const errorMessage = error.message;
                console.log(errorCode + errorMessage);
                alert("Error creating account: " + errorMessage);  // Menampilkan pesan error yang lebih informatif
            }
        }

        signupAdminBtn.addEventListener("click", (event) => {
            event.preventDefault(); // Mencegah halaman untuk reload atau action default lainnya
            userSignUp();
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>