<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/templates/input.css">
    <link rel="stylesheet" href="/src/main/resources/templates/output.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/node_modules/flowbite/dist/flowbite.min.css">
    <link rel="icon"
        href="https://previews.dropbox.com/p/thumb/ACTlye3RkbGcMjWQjGlVxHe7h3blA6sO5JT_RwQlEnjXg7mfHMsJ4ZF-FRlTDQFE_dzND9nFycPIhrs73TXxFvYh8Cuh_mD4yuLSYX8xDceHNpojBvDF0zAPONHv41vWim1xZlsv8naU5tKqsz0B3WNCIVctaLA8q5ObPMj_KQWiJXRKkq0Iz7ScfnWCftRD4d93leWcb8KsNL0KEr43iswehQpBCLKR8rWPSf-n2ozBkKDx6pRYeJRBbhgUgNiCRuGeM3Hv-mTeaDS30vKkGQDSDQ1ZUlxrHA97YQk_av3JPA86jPb0LC_B4NBwInA7T_KDUvAXsGVH26OJ-zWWblQf/p.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title class="uppercase">UFC HOUSES - SEARCH</title>
    <style>
        .list.active {
            background-color: #000;
            border: 1px solid #fff;
            color: white;
        }
    </style>
</head>

<body class="bg-black">
    <!-- NAVBAR SECTION STARTED -->
    <nav class="bg-black text-white fixed top-0 left-0 right-0 z-10" style="font-family: 'Oswald', sans-serif;">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a th:href="@{/}" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="https://previews.dropbox.com/p/thumb/ACS4znQfFL3QG_OLpUpUDudDqodc7ouUuRqJEGo9YFPjv_AAJRDNQe9qU95n7Fa5jCRdt05NgtXjDF6gmqyFfStU1pr-7waIGPrmxUWrj_BOSEYXMyombUxbPrqdUiVmfSlBepRsX7_D2S5-u2cAET3s7lgrLd7BrCXpMAh7f0oss-K0VyGo8cbwKTqhq-nJdJxznjZ-WX4TUI4enfCWfg3gG4tkANSyKxEAkp6zaQp2OfrQTItskEyCB7gG16AMNoXKcTR7WoFNs--3qeszNxXIuQz3f_7Lp6fFEDmNAosw9ACxvdhzTPBK8BEcBRvHZ1Cx40FEZV8QW85cbuo8fGW-/p.png"
                    class="h-8" alt="Logo" />
                <span class="self-center text-3xl font-bold whitespace-nowrap">UFC HOUSES</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto text-xl font-bold uppercase text-white" id="navbar-default">
                <ul
                    class="font-medium flex flex-col p-4 md:p-0 mt-4 border md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
                    <li>
                        <a href="/src/main/resources/templates/index.html"
                            class="block py-2 px-3 text-gray-400 rounded md:bg-transparent md:p-0"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 px-3 text-white md:hover:bg-transparent md:border-0 md:p-0">Search
                            Article</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAVBAR SECTION ENDED -->
    <br>
    <br>

    <!-- HERO SECTION STARTED -->

    <section>
        <div class="px-4 mx-auto max-w-screen-xl text-center py-14">
            <h1 style="font-family: 'Oswald', sans-serif;" class="mb-4 text-6xl font-extrabold text-white">
                Find Anything about UFC!</h1>
            <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">You want to know the latest
                rumor fight? Or you want some entertainment? Or you even want to learn how to fight? Search and find
                something
                only on UFC HOUSES!
            </p>

            <form class="max-w-md mx-auto">
                <label for="default-search" class="mb-2 text-sm font-bold text-black sr-only">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search" id="default-search"
                        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 bg-gray-50 focus:ring-gray-500 focus:border-gray-500"
                        placeholder="Search..." required />
                    <button type="submit"
                        class="text-white absolute end-2.5 bottom-2.5 bg-gray-900 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium text-sm px-4 py-2">Search</button>
                </div>
            </form>

            <br>
            <div class="max-w-screen-md p-3 mt-3 mx-auto" id="myBtnContainer">
                <ul
                    class="list-none grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 grid-flow-row gap-4 items-center text-center">
                    <li data-filter="All"
                        class="list active cursor-pointer focus:outline-none focus:ring-4 bg-gray-200 hover:bg-white hover:text-black hover:border-black focus:ring-gray-900 font-medium text-sm px-2 py-2">
                        All</li>
                    <li data-filter="featherweight"
                        class="list focus:outline-none cursor-pointer bg-gray-200 hover:bg-white hover:text-black hover:border-black focus:ring-4 focus:ring-gray-900 font-medium text-sm px-2 py-2">
                        Featherweight</li>
                    <li data-filter="lightweight"
                        class="list focus:outline-none bg-gray-200 cursor-pointer hover:bg-white hover:text-black hover:border-black focus:ring-4 focus:ring-gray-900 font-medium text-sm px-2 py-2">
                        Lightweight</li>
                    <li data-filter="welterweight"
                        class="list focus:outline-none bg-gray-200 hover:bg-white hover:text-black hover:border-black cursor-pointer focus:ring-4 focus:ring-gray-900 font-medium text-sm px-2 py-2">
                        Welterweight</li>
                    <li data-filter="heavyweight"
                        class="list focus:outline-none bg-gray-200 hover:bg-white hover:text-black hover:border-black focus:ring-4 cursor-pointer focus:ring-gray-900 font-medium text-sm px-2 py-2">
                        Heavyweight</li>
                    <li data-filter="Other"
                        class="list focus:outline-none bg-gray-200 hover:bg-white hover:text-black hover:border-black focus:ring-4 cursor-pointer focus:ring-gray-900 font-medium text-sm px-2 py-2">
                        Other</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- HERO SECTION ENDED -->

    <!-- ALL ARTICLE SECTION STARTED -->
    <div class="max-w-screen-xl mx-auto p-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4" id="display-article">


        </div>

        <!-- PAGINATION SECTION -->
        <nav class="flex items-center flex-row justify-between pt-4" aria-label="Table navigation">
            <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-white border border-gray-300 hover:bg-white hover:text-black">Previous</a>
                </li>
                <li>
                    <a href="#" aria-current="page"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-black border bg-white border-white hover:bg-white hover:text-black">1</a>
                </li>
                <li>
                    <a href="#" aria-current=""
                        class="flex items-center justify-center px-3 h-8 leading-tight text-white border border-gray-300 hover:bg-white hover:text-black">2</a>
                </li>
                <li>
                    <a href="#" aria-current=""
                        class="flex items-center justify-center px-3 h-8 leading-tight text-white border border-gray-300 hover:bg-white hover:text-black">3</a>
                </li>
                <li>
                    <a href="#" aria-current=""
                        class="flex items-center justify-center px-3 h-8 leading-tight text-white border border-gray-300 hover:bg-white hover:text-black">4</a>
                </li>
                <li>
                    <a href="#" aria-current=""
                        class="flex items-center justify-center px-3 h-8 leading-tight text-white border border-gray-300 hover:bg-white hover:text-black">5</a>
                </li>
                <li>
                    <a href="#" aria-current=""
                        class="flex items-center justify-center px-3 h-8 leading-tight text-white border border-gray-300 hover:bg-white hover:text-black">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- ALL ARTICLE SECTION ENDED -->

    <!-- FOOTER SECTION STARTED -->

    <footer class="bg-black mt-7">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                    <a href="index.html" class="flex items-center">
                        <img src="https://previews.dropbox.com/p/thumb/ACTOHoeAZ7cSSjfqnbfr5PeGzQBqlc6PdOLSAVI9nDWva-qwhyRh9g0FAsJh4FpBKmCqbKlll5xgn8LcXdTfyvMSlrXjz0x98tzaGRLPxl-xs_OPFmpYGDgicvCBG7w8b2NinHVj9rM14op99vtPI2LtCR9VcZO2dF1zgsTtncpWaVdopM1SUb9m6mLWMb-xJ7GxykmaX99-TkkdnEOHWGsRP9nTao2e756Efz7Fjvns1F6MHCVSjT_Jq98o7WqMb_OnGsYlr-uTg4fRyrgDOCf9nTZN9GufIDGQkAoBgaYBBOphsy72FBqhH2ylHk9Hm5BbHaWhQ4V5tS2cIxmg6AnQ/p.png"
                            class="h-8 me-3" alt="Logo" />
                        <span class="self-center text-3xl font-bold whitespace-nowrap text-white">UFC
                            HOUSES</span>
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                    <div>
                        <h2 class="mb-6 text-lg font-semibold text-white uppercase">Resources</h2>
                        <ul class="text-gray-300 font-medium">
                            <li class="mb-4">
                                <a href="index.html" class="hover:underline">UFC HOUSES</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-lg font-semibold text-white uppercase">Follow us</h2>
                        <ul class="text-gray-300 font-medium uppercase">
                            <li class="mb-4">
                                <a href="#" class="hover:underline ">Instagram</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">TikTok</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-lg font-semibold text-white uppercase">Legal</h2>
                        <ul class="text-gray-300 font-medium uppercase">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <!-- FOOTER SECTION ENDED -->

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyCEaC_yprIy0mR8OTPm8r3dJaRueH1-leY",
            authDomain: "ufc-houses.firebaseapp.com",
            databaseURL: "https://ufc-houses-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "ufc-houses",
            storageBucket: "ufc-houses.appspot.com",
            messagingSenderId: "485649152312",
            appId: "1:485649152312:web:61a12f0a0deb32c05c29cd",
            measurementId: "G-QVPENKWRCY"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);

        import { getDatabase, set, get, update, remove, ref, push, child, onValue, orderByChild } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-database.js";

        const db = getDatabase();

        const displayArticleContainer = document.querySelector("#display-article");

        // Mendapatkan referensi table yang diinginkan (Table article)
        const articlesRef = ref(db, "Article");

        // Mendapatkan data article untuk ditampilkan di section your latest article
        onValue(articlesRef, (snapshot) => {
            const data = snapshot.val();

            // Menghapus konten yang ada (untuk mencegah duplikasi)
            displayArticleContainer.innerHTML = "";

            // Iterasi melalui setiap entri dalam data
            for (const uid in data) {
                const articleData = data[uid];

                const articleElement = document.createElement("div");
                articleElement.className = `itemBox ${articleData.ArticleCategory.toLowerCase()} flex flex-col overflow-hidden shadow-lg my-4 cursor-pointer transform transition-transform duration-300 ease-in-out hover:scale-105`;

                // Template untuk elemen HTML
                articleElement.innerHTML = `
    <a href="/src/main/resources/templates/pages/article/index.html?uid=${uid}">
        <img class="object-cover w-full h-56" src="${articleData.ArticleThumbnail}" alt="">
    </a>
    <div class="py-4">
        <a href="/src/main/resources/templates/pages/article/index.html?uid=${uid}">
            <h2 class="text-xl font-bold text-white mb-2">${articleData.ArticleTitle}</h2>
        </a>
        <span style="font-family: 'Oswald', sans-serif;" class="bg-white text-black text-sm font-medium me-2 px-2.5 py-0.5">${articleData.ArticleCategory}</span>
        <p class="text-gray-300 mt-2">${new Date(articleData.CreatedAt).toLocaleString()}</p>
        <a href="/src/main/resources/templates/pages/article/index.html?uid=${uid}">
            <p class="text-gray-300 mt-2 hover:underline">Read More...</p>
        </a>
    </div>
`;

                // Menambahkan elemen HTML ke dalam displayArticleContainer
                displayArticleContainer.appendChild(articleElement);
            }
        }, (errorObject) => {
            console.log("The read failed: " + errorObject.code);
        });

        // Fungsi ini akan dijalankan saat dokumen HTML telah sepenuhnya dimuat
        $(document).ready(function () {
            // Ketika elemen dengan kelas 'list' diklik
            $('.list').click(function () {
                // Mengambil nilai dari atribut 'data-filter' pada elemen yang diklik
                const value = $(this).attr('data-filter');

                // Jika nilai adalah 'All'
                if (value == 'All') {
                    // Tampilkan semua elemen dengan kelas 'itemBox' dengan efek durasi 1000ms
                    $('.itemBox').show('1000')
                } else {
                    // Sembunyikan semua elemen dengan kelas 'itemBox' terlebih dahulu
                    $('.itemBox').hide();
                    // Tampilkan hanya elemen dengan kelas 'itemBox' yang sesuai dengan nilai 'data-filter', dengan efek durasi 1000ms
                    $('.itemBox.' + value).show('1000');
                }

                // Tambahkan kelas 'active' ke elemen yang diklik dan hapus kelas 'active' dari saudara-saudaranya
                $(this).addClass('active').siblings().removeClass('active');
            })
        })

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
</body>

</html>