<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/src/main/resources/templates/input.css">
	<link rel="stylesheet" href="/src/main/resources/templates/output.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/node_modules/flowbite/dist/flowbite.min.css">
	<link rel="icon" href="/src/main/resources/static/img/icon.png">
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
	<title>UFC HOUSES</title>
	<style>
		/* Force scaling to simulate md screen size on all devices */
		@media (max-width: 768px) {
			html {
				zoom: 0.5;
				/* Adjust zoom level as needed */
			}
		}
	</style>
</head>

<body class="bg-black" style="font-family: 'Oswald', sans-serif;">

	<!-- NAVBAR SECTION STARTED -->
	<nav class="bg-black text-white fixed top-0 left-0 right-0 z-10" style="font-family: 'Oswald', sans-serif;">
		<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
			<a href="/src/main/resources/templates/index.html" class="flex items-center space-x-3 rtl:space-x-reverse">
				<img src="/src/main/resources/static/img/logo.png" class="h-8" alt="Logo" />
				<span class="self-center text-3xl font-bold whitespace-nowrap">UFC HOUSES</span>
			</a>
			<button data-collapse-toggle="navbar-default" type="button"
				class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
				aria-controls="navbar-default" aria-expanded="false">
				<span class="sr-only">Open main menu</span>
				<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
					viewBox="0 0 17 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
						d="M1 1h15M1 7h15M1 13h15" />
				</svg>
			</button>
			<div class="hidden w-full md:block md:w-auto text-xl font-bold uppercase text-white" id="navbar-default">
				<ul
					class="font-medium flex flex-col p-4 md:p-0 mt-4 border md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
					<li>
						<a href="/src/main/resources/templates/index.html"
							class="block py-2 px-3 text-white rounded md:bg-transparent md:p-0"
							aria-current="page">Home</a>
					</li>
					<li>
						<a href="/src/main/resources/templates/pages/search-article/search-article.html"
							class="block py-2 px-3 text-gray-400 rounded hover:text-white md:hover:bg-transparent md:border-0 md:p-0">Search
							Article</a>
					</li>
					<!-- <li>
						<a href="#"
							class="block py-2 px-3 text-gray-400 rounded hover:text-white md:hover:bg-transparent md:border-0 md:p-0">About</a>
					</li> -->
				</ul>
			</div>
		</div>
	</nav>

	<!-- NAVBAR SECTION ENDED -->
	<br>
	<br>
	<!-- HERO SECTION STARTED -->
	<div class="max-w-screen-xl mx-auto p-4 pt-6">
		<img id="bannerImage" class="h-full object-cover w-full" src="" alt="image description">
	</div>
	<!-- HERO SECTION ENDED -->

	<!-- UPCOMING FIGHTS SECTION STARTED -->
	<div class="max-w-screen-xl mx-auto p-4">
		<!-- UPCOMING FIGHT SECTION STARTED -->
		<div class="upcoming-fight py-4">
			<div class="flex flex-row justify-between items-center" style="font-family: 'Oswald', sans-serif;">
				<h1 class="text-white text-3xl font-bold uppercase">Upcoming Fight</h1>
			</div>
			<div id="upcoming-fight" class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-4">
			</div>
		</div>
		<!-- UPCOMING FIGHT SECTION ENDED -->
	</div>
	<!-- UPCOMING FIGHTS SECTION ENDED -->

	<!-- SEE WHAT'S HOT SECTION STARTED -->
	<div class="max-w-screen-xl mx-auto p-4">
		<h1 class="text-white font-bold text-3xl uppercase">SEE WHAT'S <span class="text-red-600">HOT</span>
		</h1>
		<div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-4" id="display-latest-article">

		</div>

		<div class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto">
			<a th:href="@{/pages/search-article}">
				<h1 class="text-white hover:text-gray-400 underline text-center font-bold text-2xl cursor-pointer">SEE
					ALL</h1>
			</a>
		</div>

	</div>
	<!-- SEE WHAT'S HOT SECTION ENDED -->

	<!-- FOOTER SECTION STARTED -->

	<footer class="bg-black mt-7">
		<div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
			<div class="md:flex md:justify-between">
				<div class="mb-6 md:mb-0">
					<a href="index.html" class="flex items-center">
						<img src="/src/main/resources/static/img/logo.png" class="h-8 me-3" alt="Logo" />
						<span class="self-center text-3xl font-bold whitespace-nowrap text-white">UFC
							HOUSES</span>
					</a>
				</div>
				<div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
					<div>
						<h2 class="mb-6 text-lg font-semibold text-white uppercase">Resources</h2>
						<ul class="text-gray-300 font-medium">
							<li class="mb-4">
								<a href="index.html" class="hover:underline">UFC HOUSES</a>
							</li>
						</ul>
					</div>
					<div>
						<h2 class="mb-6 text-lg font-semibold text-white uppercase">Follow us</h2>
						<ul class="text-gray-300 font-medium uppercase">
							<li class="mb-4">
								<a href="#" class="hover:underline ">Instagram</a>
							</li>
							<li>
								<a href="#" class="hover:underline">TikTok</a>
							</li>
						</ul>
					</div>
					<div>
						<h2 class="mb-6 text-lg font-semibold text-white uppercase">Legal</h2>
						<ul class="text-gray-300 font-medium uppercase">
							<li class="mb-4">
								<a href="#" class="hover:underline">Privacy Policy</a>
							</li>
							<li>
								<a href="#" class="hover:underline">Terms &amp; Conditions</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</footer>

	<!-- FOOTER SECTION ENDED -->

	<script type="module">
		// Import the functions you need from the SDKs you need
		import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
		import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js";
		// TODO: Add SDKs for Firebase products that you want to use
		// https://firebase.google.com/docs/web/setup#available-libraries

		// Your web app's Firebase configuration
		// For Firebase JS SDK v7.20.0 and later, measurementId is optional
		const firebaseConfig = {
			apiKey: "AIzaSyCEaC_yprIy0mR8OTPm8r3dJaRueH1-leY",
			authDomain: "ufc-houses.firebaseapp.com",
			databaseURL: "https://ufc-houses-default-rtdb.asia-southeast1.firebasedatabase.app",
			projectId: "ufc-houses",
			storageBucket: "ufc-houses.appspot.com",
			messagingSenderId: "485649152312",
			appId: "1:485649152312:web:61a12f0a0deb32c05c29cd",
			measurementId: "G-QVPENKWRCY"
		};

		// Initialize Firebase
		const app = initializeApp(firebaseConfig);
		const analytics = getAnalytics(app);

		import { getDatabase, set, get, update, remove, ref, push, child, onValue, orderByChild } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-database.js";

		const db = getDatabase();

		const bannerImage = document.querySelector("#bannerImage");

		const thumbnailLink = document.querySelector("#thumbnail-link");
		const fighter1 = document.querySelector("#fighter-1");
		const fighter2 = document.querySelector("#fighter-2");
		const fightCategory = document.querySelector("#fight-category");
		const liveLink = document.querySelector("#link-live-streaming");
		const eventDate = document.querySelector("#date-event");

		const upcomingFightContainer = document.getElementById("upcoming-fight");

		const yourLatestArticleContainer = document.getElementById("display-latest-article");

		// Function to get the current banner image link from the database
		function getCurrentBannerLink() {
			const bannerRef = ref(db, 'BannerImageLink');

			get(bannerRef).then((snapshot) => {
				if (snapshot.exists()) {
					const data = snapshot.val();
					const bannerKey = Object.keys(data)[0];  // Assuming there's only one banner link
					const currentLink = data[bannerKey].Link;  // Get the current banner link

					// Set the image src to the current banner link
					bannerImage.src = currentLink;
				} else {
					console.log("No data available");
				}
			}).catch((error) => {
				console.error("Error fetching data: ", error);
			});
		}

		// Fetch the current banner link when the page loads
		document.addEventListener("DOMContentLoaded", getCurrentBannerLink);

		// Referensi ke database path "UpcomingFight"
		const fightsRef = ref(db, 'UpcomingFight');

		// Mendapatkan data dari Firebase
		onValue(fightsRef, (snapshot) => {
			const data = snapshot.val();

			// Menghapus konten yang ada (untuk mencegah duplikasi)
			upcomingFightContainer.innerHTML = '';

			// Iterasi melalui setiap entri dalam data
			for (const uid in data) {
				const fight = data[uid];

				// Membuat elemen HTML untuk setiap item
				const fightElement = document.createElement('div');
				fightElement.className = "flex flex-col overflow-hidden shadow-lg my-4";

				// Template untuk elemen HTML
				fightElement.innerHTML = `
            <img class="object-cover w-full h-64" id="thumbnail-link" src="${fight.Thumbnail}" alt="Fight Thumbnail">
            <div class="py-4" style="font-family: 'Oswald', sans-serif;">
                <div class="flex flex-row gap-2">
                    <h2 class="text-3xl font-bold text-white capitalize" id="fighter-1">${fight.Fighter1.toLowerCase()}</h2>
                    <h2 class="text-3xl font-bold text-white">Vs</h2>
                    <h2 class="text-3xl font-bold text-white capitalize" id="fighter-2">${fight.Fighter2.toLowerCase()} <ion-icon name="create-outline" class="cursor-pointer" data-uid="${uid}" onclick="openEditModal('${uid}')"></ion-icon></h2>
                </div>
                <div class="flex items-center text-gray-100 mt-2">
                    <p id="fight-category">${fight.FightCategory}</p>
                    <span class="mx-2">|</span>
                    <a href="${fight.LiveLink}" class="hover:text-yellow-400" id="link-live-streaming">Link Live Streaming</a>
                </div>
                <p class="text-gray-300 mt-2" id="date-event">${new Date(fight.EventDate).toLocaleString()}</p>
            </div>
        `;

				// Menambahkan elemen HTML ke dalam upcomingFightContainer
				upcomingFightContainer.appendChild(fightElement);
			}
		}, (errorObject) => {
			console.error("The read failed: " + errorObject.code);
		});

		// Mendapatkan referensi table yang diinginkan (Table article)
		const articlesRef = ref(db, "Article");

		// Mendapatkan data article untuk ditampilkan di section your latest article
		onValue(articlesRef, (snapshot) => {
			const data = snapshot.val();

			// Menghapus konten yang ada (untuk mencegah duplikasi)
			yourLatestArticleContainer.innerHTML = "";

			// Konversi data objek menjadi array untuk mempermudah manipulasi
			const articlesArray = Object.entries(data).map(([uid, articleData]) => ({ uid, ...articleData }));

			// Jika jumlah artikel lebih dari 3, pilih 3 secara acak
			let selectedArticles;
			if (articlesArray.length > 3) {
				selectedArticles = getRandomArticles(articlesArray, 3);
			} else {
				selectedArticles = articlesArray;
			}

			// Iterasi melalui setiap entri yang dipilih
			selectedArticles.forEach(({ uid, ArticleThumbnail, ArticleTitle, ArticleCategory, CreatedAt }) => {
				const articleElement = document.createElement("div");
				articleElement.className = "flex flex-col overflow-hidden shadow-lg my-4 cursor-pointer transform transition-transform duration-300 ease-in-out hover:scale-105";

				// Template untuk elemen HTML
				articleElement.innerHTML = `
            <a th:href="@{/pages/article?uid=${uid}}">
                <img class="object-cover w-full h-56" src="${ArticleThumbnail}" alt="">
            </a>
            <div class="py-4">
                <a href="@{/pages/article?uid=${uid}}">
                    <h2 class="text-xl font-bold text-white mb-2">${ArticleTitle}</h2>
                </a>
                <span style="font-family: 'Oswald', sans-serif;" class="bg-white text-black text-sm font-medium me-2 px-2.5 py-0.5">${ArticleCategory}</span>
                <p class="text-gray-300 mt-2">${new Date(CreatedAt).toLocaleString()}</p>
                <a href="@{/pages/article?uid=${uid}}">
                    <p class="text-gray-300 mt-2 hover:underline">Read More...</p>
                </a>
            </div>
        `;

				// Menambahkan elemen HTML ke dalam yourLatestArticleContainer
				yourLatestArticleContainer.appendChild(articleElement);
			});
		}, (errorObject) => {
			console.log("The read failed: " + errorObject.code);
		});

		// Fungsi untuk memilih N artikel secara acak dari array
		function getRandomArticles(array, num) {
			const shuffled = array.sort(() => 0.5 - Math.random());
			return shuffled.slice(0, num);
		}


	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
	<script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
</body>

</html>