<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/input.css}">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="icon" th:href="@{/img/icon.png}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title>ADMIN ARTICLE - UFC HOUSES</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <style>
        #article-content b,
        #article-content strong {
            color: #fff;
            font-size: 20px;
            font-family: 'Oswald', sans-serif;
        }

        #article-content a {
            color: #fff;
            text-decoration: none;
        }

        #article-content a:hover {
            text-decoration: underline;
        }

        #article-content p {
            margin-bottom: 1em;
            /* Atau atur sesuai kebutuhan, contoh: 2em atau 10px */
        }
    </style>
</head>

<body class="bg-black">

    <!-- NAVBAR SECTION STARTED -->
    <nav class="bg-black text-white fixed top-0 left-0 right-0 z-10" style="font-family: 'Oswald', sans-serif;">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img th:src="@{/img/logo.png}" class="h-8" alt="Logo" />
                <span class="self-center text-3xl font-bold whitespace-nowrap">UFC HOUSES</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto text-xl font-bold uppercase text-white" id="navbar-default">
                <ul
                    class="font-medium flex flex-col p-4 md:p-0 mt-4 border md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
                    <li>
                        <a th:href="@{/admin/pages/home}"
                            class="block py-2 px-3 text-gray-400 rounded hover:text-white md:hover:bg-transparent md:border-0 md:p-0">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/pages/search-article}"
                            class="block py-2 px-3 text-gray-400 rounded hover:text-white md:hover:bg-transparent md:border-0 md:p-0">Search
                            Article</a>
                    </li>
                    <li>
                        <a href="#"
                            class="link-edit block py-2 px-3 text-gray-400 rounded hover:text-white md:hover:bg-transparent md:border-0 md:p-0">Edit
                            this article</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAVBAR SECTION ENDED -->
    <br>
    <br>

    <!-- ARTICLE SECTION STARTED -->

    <main class="pt-8 pb-16 lg:pt-16 lg:pb-24">
        <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
            <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg">
                <!-- <a href="/src/main/resources/templates/admin/pages/admin-edit-article/index.html">
                    <h6 style="font-family: 'Oswald', sans-serif;"
                        class="text-white mb-3 text-xl hover:underline cursor-pointer italic">Edit this article</h6>
                </a> -->
                <h1 id="article-title" style="font-family: 'Oswald', sans-serif;"
                    class="mb-4 text-5xl font-extrabold text-white lg:mb-6">
                </h1>
                <figure><img src="" id="article-thumbnail" alt="">
                    <figcaption class="italic flex flex-row justify-between">
                        <p id="article-date"></p>
                    </figcaption>
                    <span style="font-family: 'Oswald', sans-serif;"
                        class="bg-white text-black text-sm font-medium me-2 px-2.5 py-0.5" id="article-category"></span>

                </figure>

                <article id="article-content" class="text-white format format-sm sm:format-base lg:format-lg pt-4">
                </article>
            </article>
        </div>
    </main>
    <!-- ARTICLE SECTION ENDED -->

    <br>
    <br>

    <!-- FOOTER SECTION STARTED -->
    <footer class="bg-black">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
            <div class="sm:flex sm:items-center sm:justify-between">
                <span class="text-sm text-gray-500 sm:text-center">© 2024 <a href="#" class="hover:underline">Ufc
                        Houses</a>. All Rights Reserved.
                </span>
            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION ENDED -->

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js";
        import { getDatabase, ref, get, onValue } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-database.js";

        const firebaseConfig = {
            apiKey: "AIzaSyCEaC_yprIy0mR8OTPm8r3dJaRueH1-leY",
            authDomain: "ufc-houses.firebaseapp.com",
            databaseURL: "https://ufc-houses-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "ufc-houses",
            storageBucket: "ufc-houses.appspot.com",
            messagingSenderId: "485649152312",
            appId: "1:485649152312:web:61a12f0a0deb32c05c29cd",
            measurementId: "G-QVPENKWRCY"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        const db = getDatabase(app);

        // Function to get query parameter from URL
        function getQueryParam(param) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }

        // Get UID from URL
        const uid = getQueryParam('uid');

        if (uid) {
            const articleRef = ref(db, `Article/${uid}`);
            get(articleRef).then((snapshot) => {
                if (snapshot.exists()) {
                    const articleData = snapshot.val();
                    document.getElementById('article-title').innerText = articleData.ArticleTitle;
                    document.getElementById('article-category').innerText = articleData.ArticleCategory;
                    document.getElementById('article-thumbnail').src = articleData.ArticleThumbnail;
                    document.getElementById('article-content').innerText = articleData.ArticleContent;
                    document.getElementById('article-date').innerText = new Date(articleData.CreatedAt).toLocaleString();

                    marked.setOptions({
                        breaks: false, // Hanya double enter yang dianggap sebagai pemisah paragraf
                    });

                    // Convert Markdown to HTML
                    const htmlContent = marked.parse(articleData.ArticleContent);
                    document.getElementById('article-content').innerHTML = htmlContent;

                    // Set edit link href
                    const editLink = document.querySelector(".link-edit");
                    if (editLink) {
                        editLink.href = `/admin/pages/edit-article?uid=${uid}`;
                    }
                } else {
                    console.log("No data available for this article UID.");
                }
            }).catch((error) => {
                console.error("Error fetching data:", error);
            });
        } else {
            console.log("No article UID provided in URL.");
        }

    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>