<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/input.css}">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="icon" th:href="@{/img/icon.png}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title class="uppercase">ADMIN SEARCH - UFC HOUSES</title>
    <style>
        .list.active {
            background-color: #000;
            border: 1px solid #fff;
            color: white;
        }

        /* Force scaling to simulate md screen size on all devices */
        @media (max-width: 768px) {
            html {
                zoom: 0.5;
                /* Adjust zoom level as needed */
            }
        }

        #list-search:hover {
            color: #000000;
            text-decoration: underline #000000;
        }
    </style>
</head>

<body class="bg-black">
    <!-- NAVBAR SECTION STARTED -->
    <nav class="bg-black text-white fixed top-0 left-0 right-0 z-10" style="font-family: 'Oswald', sans-serif;">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img th:src="@{/img/logo.png}" class="h-8" alt="Logo" />
                <span class="self-center text-3xl font-bold whitespace-nowrap">UFC HOUSES</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto text-xl font-bold uppercase text-white" id="navbar-default">
                <ul
                    class="font-medium flex flex-col p-4 md:p-0 mt-4 border md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
                    <li>
                        <a th:href="@{/admin/pages/home}"
                            class="block py-2 px-3 text-gray-400 rounded hover:text-white md:bg-transparent md:border-0 md:p-0"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#" class="block py-2 px-3 text-white md:hover:bg-transparent md:border-0 md:p-0">All
                            Article</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/pages/create-article}"
                            class="block py-2 px-3 text-gray-400 rounded hover:text-white md:hover:bg-transparent md:border-0 md:p-0">Create
                            Article</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAVBAR SECTION ENDED -->
    <br>
    <br>

    <!-- HERO SECTION STARTED -->

    <section>
        <div class="px-4 mx-auto max-w-screen-xl text-center py-14">
            <h1 style="font-family: 'Oswald', sans-serif;" class="mb-4 text-6xl font-extrabold text-white">
                Find Anything about UFC!</h1>
            <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">You want to know the latest
                rumor fight? Or you want some entertainment? Or you even want to learn how to fight? Search and find
                something
                only on UFC HOUSES!
            </p>

            <form class="max-w-md mx-auto">
                <label for="default-search" class="mb-2 text-sm font-bold text-black sr-only">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search" id="default-search"
                        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 bg-gray-50 focus:ring-gray-500 focus:border-gray-500"
                        placeholder="Search..." required />
                    <button id="close-btn" class="absolute top-4 right-0 w-10 text-transparent">X</button>
                </div>
                <div id="result-box"
                    class="relative block w-full text-sm text-gray-900 border-t-0 border-x border-b bg-gray-50 border-gray-300 focus:ring-green-500 focus:border-green-500 text-left">

                </div>
            </form>

            <br>
            <div class="max-w-screen-md p-3 mt-3 mx-auto" id="myBtnContainer">
                <ul
                    class="list-none grid grid-cols-3 md:grid-cols-3 lg:grid-cols-3 grid-flow-row gap-4 items-center text-center">
                    <li data-filter="All"
                        class="list active cursor-pointer focus:outline-none focus:ring-4 bg-gray-200 hover:bg-white hover:text-black hover:border-black focus:ring-gray-900 font-medium text-sm px-2 py-2">
                        All</li>
                    <li data-filter="featherweight"
                        class="list focus:outline-none cursor-pointer bg-gray-200 hover:bg-white hover:text-black hover:border-black focus:ring-4 focus:ring-gray-900 font-medium text-sm px-2 py-2">
                        Featherweight</li>
                    <li data-filter="lightweight"
                        class="list focus:outline-none bg-gray-200 cursor-pointer hover:bg-white hover:text-black hover:border-black focus:ring-4 focus:ring-gray-900 font-medium text-sm px-2 py-2">
                        Lightweight</li>
                    <li data-filter="welterweight"
                        class="list focus:outline-none bg-gray-200 hover:bg-white hover:text-black hover:border-black cursor-pointer focus:ring-4 focus:ring-gray-900 font-medium text-sm px-2 py-2">
                        Welterweight</li>
                    <li data-filter="heavyweight"
                        class="list focus:outline-none bg-gray-200 hover:bg-white hover:text-black hover:border-black focus:ring-4 cursor-pointer focus:ring-gray-900 font-medium text-sm px-2 py-2">
                        Heavyweight</li>
                    <li data-filter="Other"
                        class="list focus:outline-none bg-gray-200 hover:bg-white hover:text-black hover:border-black focus:ring-4 cursor-pointer focus:ring-gray-900 font-medium text-sm px-2 py-2">
                        Other</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- HERO SECTION ENDED -->

    <!-- ALL ARTICLE SECTION STARTED -->
    <div class="max-w-screen-xl mx-auto p-4">
        <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-4" id="display-article">


        </div>
    </div>
    <!-- ALL ARTICLE SECTION ENDED -->

    <br>
    <br>

    <!-- FOOTER SECTION STARTED -->
    <footer class="bg-black">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
            <div class="sm:flex sm:items-center sm:justify-between">
                <span class="text-sm text-gray-500 sm:text-center">© 2024 <a href="#" class="hover:underline">Ufc
                        Houses</a>. All Rights Reserved.
                </span>
            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION ENDED -->

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyCEaC_yprIy0mR8OTPm8r3dJaRueH1-leY",
            authDomain: "ufc-houses.firebaseapp.com",
            databaseURL: "https://ufc-houses-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "ufc-houses",
            storageBucket: "ufc-houses.appspot.com",
            messagingSenderId: "485649152312",
            appId: "1:485649152312:web:61a12f0a0deb32c05c29cd",
            measurementId: "G-QVPENKWRCY"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);

        import { getDatabase, set, get, update, remove, ref, push, child, onValue, orderByChild } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-database.js";

        const db = getDatabase();

        const displayArticleContainer = document.querySelector("#display-article");

        // Mendapatkan referensi table yang diinginkan (Table article)
        const articlesRef = ref(db, "Article");

        // Mendapatkan data article untuk ditampilkan di section your latest article
        onValue(articlesRef, (snapshot) => {
            const data = snapshot.val();

            // Menghapus konten yang ada (untuk mencegah duplikasi)
            displayArticleContainer.innerHTML = "";

            // Konversi data objek menjadi array untuk mempermudah manipulasi
            const articlesArray = Object.entries(data).map(([uid, articleData]) => ({
                uid,
                ...articleData
            }));

            // Urutkan artikel berdasarkan CreatedAt dari yang terbaru ke yang terlama
            articlesArray.sort((a, b) => new Date(b.CreatedAt) - new Date(a.CreatedAt));

            // Iterasi melalui setiap entri yang dipilih
            articlesArray.forEach(({ uid, ArticleThumbnail, ArticleTitle, ArticleCategory, CreatedAt }) => {
                const articleElement = document.createElement("div");
                articleElement.className = `itemBox ${ArticleCategory.toLowerCase()} flex flex-col overflow-hidden shadow-lg my-4 cursor-pointer transform transition-transform duration-300 ease-in-out hover:scale-105`;

                // Template untuk elemen HTML
                articleElement.innerHTML = `
            <a href="/admin/pages/article?uid=${uid}">
                <img class="object-cover w-full h-56" src="${ArticleThumbnail}" alt="">
            </a>
            <div class="py-4">
                <a href="/admin/pages/article?uid=${uid}">
                    <h2 class="text-xl font-bold text-white mb-2">${ArticleTitle}</h2>
                </a>
                <span style="font-family: 'Oswald', sans-serif;" class="bg-white text-black text-sm font-medium me-2 px-2.5 py-0.5">${ArticleCategory}</span>
                <p class="text-gray-300 mt-2">${new Date(CreatedAt).toLocaleString()}</p>
                <a href="/admin/pages/article?uid=${uid}">
                    <p class="text-gray-300 mt-2 hover:underline">Read More...</p>
                </a>
            </div>
        `;

                // Menambahkan elemen HTML ke dalam displayArticleContainer
                displayArticleContainer.appendChild(articleElement);
            });
        }, (errorObject) => {
            console.log("The read failed: " + errorObject.code);
        });

        // Fungsi ini akan dijalankan saat dokumen HTML telah sepenuhnya dimuat
        $(document).ready(function () {
            // Ketika elemen dengan kelas 'list' diklik
            $('.list').click(function () {
                // Mengambil nilai dari atribut 'data-filter' pada elemen yang diklik
                const value = $(this).attr('data-filter');

                // Jika nilai adalah 'All'
                if (value == 'All') {
                    // Tampilkan semua elemen dengan kelas 'itemBox' dengan efek durasi 1000ms
                    $('.itemBox').show('1000')
                } else {
                    // Sembunyikan semua elemen dengan kelas 'itemBox' terlebih dahulu
                    $('.itemBox').hide();
                    // Tampilkan hanya elemen dengan kelas 'itemBox' yang sesuai dengan nilai 'data-filter', dengan efek durasi 1000ms
                    $('.itemBox.' + value).show('1000');
                }

                // Tambahkan kelas 'active' ke elemen yang diklik dan hapus kelas 'active' dari saudara-saudaranya
                $(this).addClass('active').siblings().removeClass('active');
            })
        });

        const resultBox = document.querySelector("#result-box");
        const inputBox = document.querySelector("#default-search");
        const closeButton = document.querySelector("#close-btn");

        let availableKeywords = [];

        // Mengambil data dari Firebase Realtime Database
        const articleRef = ref(db, 'Article');
        onValue(articleRef, (snapshot) => {
            const data = snapshot.val();
            availableKeywords = Object.entries(data).map(([uid, item]) => ({
                uid: uid,
                title: item.ArticleTitle
            }));
        });

        inputBox.onkeyup = function () {
            let result = [];
            let input = inputBox.value;

            if (input.length) {
                result = availableKeywords.filter(({ title }) => {
                    return title.toLowerCase().includes(input.toLowerCase());
                });
                console.log(result);
            }

            display(result);
        }

        function display(result) {
            if (result.length) {
                const content = result.map(({ uid, title }) => {
                    return `
                    <a href="/admin/pages/article?uid=${uid}">
                        <li id='list-search' class='py-2'>${title}</li>
                    </a>
                `;
                })

                resultBox.innerHTML = "<ul class='space-y-3 p-2'>" + content.join('') + "</ul>";
                resultBox.style.display = 'block';
            } else {
                resultBox.style.display = 'none';
            }
        }

        closeButton.addEventListener("click", () => {
            resultBox.style.display = 'none';
        });

        document.addEventListener("click", (event) => {
            const isClickInside = resultBox.contains(event.target) || inputBox.contains(event.target);

            if (!isClickInside) {
                resultBox.style.display = 'none';
            }
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>